@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$font: 'Lato Flex', sans-serif;

$orange: #FF5418;
$lightorange: #F8B69E;
$whiteorange: #FFE7D6;
$white: #FFFFFF;
$blue: #181639;
$skyblue: #8AADE1;
$bluemarine: #2F4858;
$lightred: #bf243a;
$yellow: #ecac3c;
$crimsonred: #8d2840;
$brown: #672831;
$darkbrown: #3f2433;
$purple: #473465;
$green: #007200;
$lightgrey: #c7c7c7;
$whitegrey: #eeeeee;
$pink: #da4eda;


$colors: (
    'orange': $orange,
    'lightorange': $lightorange,
    'whiteorange': $whiteorange,
    'white': $white,
    'blue': $blue,
    'skyblue': $skyblue,
    'bluemarine': $bluemarine,
    'lightred': $lightred,
    'yellow': $yellow,
    'crimsonred': $crimsonred,
    'brown': $brown,
    'darkbrown': $darkbrown,
    'purple': $purple,
    'green': $green,
    'lightgrey': $lightgrey,
    'whitegrey': $whitegrey
);

@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color;
    }

    .color-#{$name} {
        color: $color;
    }
}