@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

$font: 'Inter', sans-serif;

$orange: #ff5418;
$lightorange: #f8b69e;
$whiteorange: #ffe7d6;
$white: #ffffff;
$blue: #181639;
$skyblue: #8aade1;
$bluemarine: #2f4858;
$lightred: #bf243a;
$yellow: #ecac3c;
$crimsonred: #8d2840;
$brown: #672831;
$darkbrown: #461b21;
$purple: #473465;
$green: #007200;
$lightgrey: #c7c7c7;
$whitegrey: #eeeeee;
$pink: #da4eda;

$colors: (
	'orange': $orange,
	'lightorange': $lightorange,
	'whiteorange': $whiteorange,
	'white': $white,
	'blue': $blue,
	'skyblue': $skyblue,
	'bluemarine': $bluemarine,
	'lightred': $lightred,
	'yellow': $yellow,
	'crimsonred': $crimsonred,
	'brown': $brown,
	'darkbrown': $darkbrown,
	'purple': $purple,
	'green': $green,
	'lightgrey': $lightgrey,
	'whitegrey': $whitegrey,
	'pink': $pink,
);

@each $name, $color in $colors {
	.bg-#{$name} {
		background-color: $color;
	}

	.color-#{$name} {
		color: $color;
	}

	.border-#{$name} {
		color: $color;
	}
}
