@use 'base';

button {
    border-radius: 5px;
    border-style: none;
    color: base.$whiteorange;
    cursor: pointer;
    font-size: 1.2rem;
    height: 3.5rem;
    outline: 0;
    transition: all .2s;
    vertical-align: bottom;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: base.$crimsonred;
    opacity: .7;

    &:hover:not([disabled]) {
        opacity: 1;
    }

    &:disabled {
        opacity: .7;
        cursor: default;
    }

    .icon {
        font-size: 1.5rem;
    }

    &.selected {
        opacity: 1;
    }
}

.lang-swapper {
    padding: 0px 10px;
    color: base.$white;
    margin: 5px 10px;
    grid-area: lang;
    height: 50px;
    width: max-content;

    img {
        width: 50px;
    }
}