@import 'base';

.classes-layout {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	overflow: hidden;

	h2 {
		background-color: $brown;
		color: white;
	}

	.class-list {
		position: relative;
		border-radius: 5px;
		width: 100%;
	}

	.options-selector {
		border-radius: 5px;
		height: max-content;
	}
}
.dropdown {
	display: grid;
	grid-auto-rows: max-content;
	background-color: rgba($brown, 0.25);
	max-height: 40px;
	font-size: 1.35rem;
	font-weight: bold;
	gap: 7.5px;
	overflow: hidden;
	border-radius: 10px;
	transition: max-height 0.5s;

	.flex,
	.lesson {
		gap: 10px;
		box-sizing: border-box;
		display: flex;
		color: $brown;
		cursor: pointer;
		background-color: rgba($brown, 0.25);
		justify-content: space-between;
		align-items: center;
		padding-inline: 10px;
		height: 40px;
		transition: background-color 0.25s, color 0.25s;
		min-width: max-content;

		p {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		&:hover {
			color: white;
			background-color: $brown;
		}
	}

	.dropdown,
	.lesson {
		overflow: hidden;
		border-radius: 0 10px 10px 0;
		margin: 0 10px 0 0;
		min-width: max-content;

		&:last-child {
			margin-bottom: 7.5px;
		}
	}

	.active {
		color: white;
		background-color: $brown;
	}
}

.expand {
	overflow-y: auto;
	max-height: 695px;
	color: white;
}

.ioIosArrowDown {
	transition: transform 0.25s;

	&.rotate {
		transform: rotate(180deg);
	}
}

.threeDots {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.imEyePlus,
.imEyeMinus,
.hiOutlinePencilSquare,
.mdOutlineDeleteForever {
	cursor: pointer;
	// font-size: 1.75rem;
	width: 50%;
	height: 26px;
}

.mdOutlineDeleteForever:hover,
.imEyePlus:hover {
	color: $lightred;
}

.table-class-list {
	tbody {
		tr {
			td {
				// gap: 5px;
				background-color: rgba($brown, 0.25);

				&[datatype='content'],
				&[datatype='teacher'] {
					flex-direction: column;
					align-items: start;
					&[datatype='content'] p {
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						max-width: 100%;

						&:before {
							content: '•';
							margin-right: 5px;
						}
					}
				}
			}
		}
	}

	&[user-role='teachers'] {
		.grid {
			grid-template-columns: 15% 15% calc(35% - 6px) 20% 15%;
		}

		@media screen and (min-width: 1366px) {
			.grid {
				grid-template-columns: 11% 11% auto 12% 11%;
			}
		}
	}

	&[user-role='students'] {
		.grid {
			grid-template-columns: 20% calc(40% - 3px) calc(30% - 3px) 20%;
		}

		@media screen and (min-width: 1366px) {
			.grid {
				grid-template-columns: 10% auto 30% 20%;
			}
		}
	}
}

.attendance,
.delete-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	height: 75%;
	background-color: #cbd1d5;
	border-radius: 5px;
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.ioClose {
		position: absolute;
		cursor: pointer;
		color: $white;
		top: 2.5px;
		right: 2.5px;
		height: 35px;
		width: 35px;
		transition: color 0.25s;

		&:hover {
			color: $lightred;
		}
	}

	* {
		box-sizing: border-box;
	}

	h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		border-radius: 5px 5px 0 0;
	}

	.body {
		display: flex;
		// flex-direction: column;
		font-size: 1.5rem;
		height: 100%;
		padding: 10px 0px 0 10px;
		gap: 10px;
		overflow: hidden;

		p {
			text-align: center;
		}

		.left {
			display: flex;
			flex-direction: column;
			flex: 1;
			align-items: start;
			height: 100%;
			overflow-y: auto;

			label {
				width: 100%;
				font-size: 0.9rem;

				h2 {
					justify-content: start;
				}
			}

			textarea {
				border-radius: 0 0 5px 5px;
				color: $darkbrown;
				font-size: 1.25rem;
				border: 2px solid gray;
				padding: 5px;
				width: 100%;
				resize: vertical;
				min-height: 25%;
				max-height: 50%;
				background-color: rgba($brown, 0.25);
				box-shadow: none;

				transition: background-color 0.25s, border 0.25s, outline 0.25s;

				&:focus {
					background-color: $white;
					border: 2px solid $brown;
					outline: none;
				}

				margin-bottom: 10px;
			}

			.ant-picker {
				width: 100%;
				border-radius: 0 0 5px 5px;
				background-color: rgba($brown, 0.25);
				border: 2px solid gray;
				box-shadow: none;

				transition: background-color 0.25s, border 0.25s, outline 0.25s;

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				input {
					color: $darkbrown;
				}

				&.date-picker:hover {
					.ant-picker-suffix {
						opacity: 0;
					}
					.ant-picker-clear {
						opacity: 1;
					}
				}

				&.ant-picker-focused {
					background-color: $white;
					border-color: $brown;
					outline: none;
				}

				.ant-picker-suffix {
					color: gray;
				}
				.ant-picker-clear {
					background-color: transparent;
					color: gray;

					&:hover {
						color: $lightred;
					}
				}
			}

			@media screen and (max-width: 1366px) {
				textarea,
				.ant-picker:not(:last-child) {
					margin-bottom: auto;
				}
			}
		}

		.table-attendance-list {
			background-color: #cbd1d5;
			height: 100%;
			overflow: hidden;
			place-self: center;
			flex: 2;

			thead {
				tr {
					th {
						display: flex;
						align-items: center;
						justify-content: center;
						height: 100%;
					}

					&:last-child {
						grid-template-columns: 5% 20% auto 30%;

						@media screen and (min-width: 1366px) {
							grid-template-columns: 5% 20% auto 25%;
						}
					}
				}
			}

			tbody {
				tr {
					grid-template-columns: 5% 20% auto 30%;

					@media screen and (min-width: 1366px) {
						grid-template-columns: 5% 20% auto 25%;
					}

					td {
						align-items: center;
						padding: 0 10px;

						&[data-student-name] {
							p {
								text-align: start !important;
							}
						}

						&:last-child {
							justify-content: space-evenly;

							input[type='checkbox'] {
								display: none;
								&:checked + .label-attendance {
									background-color: $brown;
									border-color: $brown;
								}
							}

							.label-attendance {
								position: relative;
								cursor: pointer;
								display: flex;
								align-items: center;
								justify-content: center;
								height: 30px;
								width: 30px;
								border-radius: 5px;
								border: 2px solid gray;
								background-color: white;
								transition: background-color 0.25s, border-color 0.25s;

								&::before {
									position: absolute;
									content: '';
									height: 10px;
									width: 6px;
									border: 5px solid $white;
									border-top: none;
									border-left: none;
									transform: rotate(45deg) translate(-10%, -10%);
									transition: opacity 0.25s;
								}

								&:hover {
									border-color: $brown;
								}
							}
						}
					}

					&:nth-child(odd) {
						td {
							background-color: rgba($brown, 0.25);
						}
					}

					&:nth-child(even) {
						td {
							background-color: rgba($brown, 0.5);
						}
					}
				}
			}
		}
	}

	.footer {
		display: flex;
		padding: 10px;
		justify-content: space-evenly;

		button {
			color: white;
			font-size: 1.5rem;
			font-weight: bold;

			&.confirm:hover {
				background-color: $brown;
				opacity: 1;
			}

			&.cancel:hover {
				background-color: $brown;
				opacity: 1;
			}
		}
	}
}

.delete-modal {
	width: 25%;
	height: 25%;

	.body {
		display: flex;
		height: fit-content;
	}
}

.background {
	background-color: rgba(black, 0.5);
	height: 100%;
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.25s, visibility 0.25s;
}

.showModalViewClass,
.showModalDeleteClass {
	opacity: 1;
	visibility: visible;
}

.ant-picker-dropdown {
	.ant-picker-panel-container {
		border-radius: 5px;
		outline: none;
	}
	.ant-picker-header {
		background-color: $brown;
		// color: white;
		border-radius: 5px 5px 0 0;
		outline: none;

		button {
			color: white;

			&:hover {
				color: $lightred;
			}
		}
	}

	// .ant-picker-body {
	.ant-picker-content {
		.ant-picker-time-panel-column {
			> li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
				background-color: rgba($brown, 0.25);
				border-color: rgba($brown, 0.25);
			}
			> li.ant-picker-time-panel-cell-selected
				.ant-picker-time-panel-cell-inner {
				color: $white;
				background-color: $brown;
			}
			&::after {
				display: none;
			}
		}

		th {
			color: $brown;
		}

		td {
			&.ant-picker-cell {
				&:hover:not(.ant-picker-cell-selected):not(
						.ant-picker-cell-range-start
					):not(.ant-picker-cell-range-end):not(
						.ant-picker-cell-range-hover-start
					):not(.ant-picker-cell-range-hover-end)
					.ant-picker-cell-inner {
					background-color: rgba($brown, 0.25);
					border-color: rgba($brown, 0.25);
				}

				// &.ant-picker-cell-inner {
				// 	&:hover {
				// 		background-color: $brown;
				// 	}
				// }

				&-selected {
					.ant-picker-cell-inner {
						background-color: $brown;
						border-color: $brown;
					}
				}

				&-today {
					.ant-picker-cell-inner {
						&::before {
							border-color: $brown;
						}
					}
				}
			}
		}
		// }
	}

	.ant-picker-footer {
		background-color: $brown;
		border-radius: 0 0 5px 5px;
		outline: none;

		a {
			color: white;

			&:hover {
				color: $lightred;
			}
		}

		.ant-btn-primary {
			color: white;
			background-color: $brown;
			border-color: $brown;
			box-shadow: none;
			outline: none;

			&:disabled {
				color: grey;
				border-color: $brown;
				// background-color: rgba($brown, 0.25);
			}
			&:not(:disabled):not(.ant-btn-disabled):hover {
				background-color: $brown;
				color: $lightred;
			}
		}
	}
}
