@use 'base';

.classes-layout {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    position: relative;

    .class-list {
        width: 100%;

    }

    .options-selector {
        height: max-content;
        max-height: 100%;
    }
}


.dropdown {
    display: grid;
    grid-auto-rows: max-content;
    background-color: rgba(base.$bluemarine, .25);
    max-height: 40px;
    font-size: 1.35rem;
    font-weight: bold;
    color: base.$whiteorange;
    gap: 7.5px;
    overflow: hidden;
    border-radius: 10px;
    transition: max-height .5s;

    .flex,
    .topic {
        box-sizing: border-box;
        display: flex;
        cursor: pointer;
        background-color: rgba(base.$bluemarine, .25);
        justify-content: space-between;
        align-items: center;
        padding-inline: 10px;
        height: 40px;
        transition: background-color .25s;
        min-width: max-content;

        &:hover {
            background-color: base.$bluemarine;
        }
    }

    .dropdown,
    .topic {
        border-radius: 0 10px 10px 0;
        margin: 0 10px 0 0;
        min-width: max-content;

        &:last-child {
            margin-bottom: 7.5px;
        }
    }

    .active {
        background-color: base.$bluemarine;
    }

}


.expand {
    max-height: 500px;
    color: white;
}

.ioIosArrowDown {
    transition: transform .25s;

    &.rotate {
        transform: rotate(180deg);
    }
}

.threeDots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.classes-table {
    color: base.$whiteorange;

    thead {
        tr {

            &:last-child {
                display: grid;
                grid-template-columns: 10% 35% 25% 10% auto;
                gap: 3px;
            }

            td {
                border-radius: 3px;
                text-align: center;
                font-size: 1.35rem;
                background-color: base.$orange;
            }
        }
    }

    tbody {
        tr {
            display: grid;
            grid-template-columns: 10% 35% 25% 10% auto;
            gap: 3px;
        }
    }
}

p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40px
}