@use 'base';

.grades-layout {
	display: grid;

	&.teacher {
		grid-template-areas:
			'tselector grades'
			'options grades';
		width: auto;
		grid-template-columns: 200px 1fr;
		grid-template-rows: min-content auto;
	}

	&.student {
		grid-template-areas:
			'options options'
			'grades grades';
		width: auto;
		grid-template-rows: min-content auto;

		.options-select-container {
			display: flex;
			align-items: center;
			gap: 10px;
			flex: 1;

			>div {
				flex: 1;
			}
		}		
	}
}

.topics-selector {
	grid-area: tselector;

	button {
		width: 100%;
	}
}

.options-container {
	grid-area: options;
	option {
		text-overflow: ellipsis;
	}
}

.more-info {
	display: flex;
	justify-content: center;
}

.grades {
	grid-area: grades;
	display: flex;
	color: base.$bluemarine;
	position: static;

	h3 {
		font-size: 1.3rem;
		font-weight: bold;
		margin: 0;
	}

	button {
		font-size: 1rem;
		height: 30px;
		width: 60px;
	}
}

.grades-table {
	border-collapse: collapse;
	width: 100%;
	color: base.$bluemarine;
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	border-radius: 5px;
	overflow: hidden;
	table-layout: fixed;

	th {
		font-size: 1rem;
		background-color: adjust-color($color: base.$crimsonred, $lightness: 5%);
		color: base.$white;
		font-weight: 800;
		padding: 7px 5px;
		text-transform: uppercase;
		border-top: 1px solid base.$whitegrey;
		border-bottom: 1px solid base.$whitegrey;
	}

	td {
		font-size: 1rem;
		padding: 10px;
		border-bottom: 1px solid base.$lightgrey;
		font-weight: bold;
	}

	tr:nth-child(even) td {
		background-color: base.$whitegrey;
	}

	tr:hover td {
		background-color: base.$lightgrey;
	}
}

.btn-container {
	display: flex;
	gap: 5px;
}

.buttons-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px 0px;
}

.year-select {
	border: solid 1px base.$bluemarine;
	font-size: 1.2rem;
	padding: 5px 2px;
	outline: 0;
	border-radius: 5px;
}

.grades-table {
	color: base.$darkbrown;
	thead,
	tbody {
		tr {
			grid-template-columns: 60% auto;
		}
	}
}

.grades-input-table {
	thead,
	tbody {
		tr {
			grid-template-columns: 10% 20% auto 20%;
		}
	}
}

.topics-exams-container {
	display: grid;
	height: 100%;
	grid-template-areas: 'writing reading average' 'listening speaking average';
	grid-template-columns: 1fr 1fr 0.5fr;
	grid-template-rows: 1fr 1fr;
}

.topic-container {
	background-color: base.$whitegrey;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}

.writing-exams-container {
	grid-area: writing;
}

.reading-exams-container {
	grid-area: reading;
}

.listening-exams-container {
	grid-area: listening;
}

.speaking-exams-container {
	grid-area: speaking;
}

.average-container {
	grid-area: average;
}

.noquiz {
	grid-column: 1/-1;
}

.average-container {
	.average-text {
		font-size: 2em;
		text-align: center;
		font-weight: bold;
		color: base.$darkbrown;
	}
}

.moreinfo-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	border-radius: 5px;
	background-color: base.$crimsonred;

	> div {
		background-color: base.$whitegrey;
		padding: 5px;
		border-radius: 5px;
	}

	span {
		font-size: 1.2rem;
		font-weight: bold;
		color: base.$darkbrown;
	}

	.approved {
		color: base.$green;
	}

	.failed {
		color: base.$crimsonred;
	}
	
}
