@import 'base';

.profile {
  background-color: #faedf0;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 5px;
  margin: 10px;
  padding: 10px;
  width: auto;
  overflow: auto;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }

  &,
  * {
    box-sizing: border-box;
  }

  hr {
    border-color: $lightgrey;
    border-style: solid;
    margin: 0;
    height: 100%;
  }

  &-personal-info {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    // justify-content: center;
    // margin-left: 10px;

    h2 {
      width: 100%;
    }

    .faUser {
      background-color: $crimsonred;
      color: $white;
      padding: 20px;
      border-radius: 50%;
      width: 70%;
      height: auto;
      aspect-ratio: 1;

      @media (max-width: 1366px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        width: 25%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
      overflow: auto;
      flex: 1;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        width: 80%;

        @media (max-width: 1366px) {
          width: 100%;
        }

        &-label {
          font-weight: bold;
          //   width: 30%;
          width: 100%;
          margin-bottom: 10px;
        }

        &-value {
          padding: 0 10px;
          //   width: 70%;
          display: flex;
          align-items: center;
          background-color: $white;
          width: 100%;
          height: 40px;
          border-radius: 5px;
          box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  &-academic-info {
    flex: 4;

    @media (max-width: 768px) {
      flex: 2;
    }

    @media (max-width: 1366px) {
      flex: 2;
    }
  }
}
