@use 'base';

$sidebar-open-width: 230px;
$sidebar-closed-width: 45px;

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: adjust-color($color: base.$crimsonred, $lightness: 60%);
	height: 100vh;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 0.2);
	width: $sidebar-open-width;
	grid-area: sidebar;
	transition: all 0.3s;

	&.closed {
		width: $sidebar-closed-width;
	}
}

.top-section {
	background-color: base.$crimsonred;
	display: flex;
	align-items: center;
	padding: 20px 10px;
	color: base.$darkbrown;
	height: 70px;
	position: relative;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: start;
	height: 100%;
	width: 100%;
	transition: all 0.3s;
	overflow: hidden;

	&.closed {
		width: 0;
	}
}

.logo {
	height: 100%;
}

.bars {
	font-size: 1.5rem;
	cursor: pointer;
	margin: auto 0;
}

a {
	&[href='/'],
	&[href='/Dashboard'] {
		order: 0;
	}

	order: 1;
}

.link {
	position: relative;
	background-color: adjust-color($color: base.$crimsonred, $lightness: 45%);
	margin: 5px;
	border-radius: 5px;
	padding: 5px 7px;
	gap: 15px;
	transition: all 0.2s;
	color: base.$darkbrown;
	font-size: 1.1rem;
	height: 20px;
	text-align: center;
	display: flex;

	&:hover,
	&.active {
		background-color: base.$crimsonred;
		color: base.$white;
	}

	.icon {
		font-size: 1.3rem;

		&.closed {
			right: 0px;
		}
	}

	&[data-div='Logout'] {
		margin-top: auto;
		order: 2;
	}
}

.link-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
