.grades-layout {
    display: grid;
    grid-template-areas:
        "tselector grades"
        "oselector grades";
    width: auto;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;
}

.topics-selector {
    grid-area: tselector;
}

.options-selector {
    grid-area: oselector;
}

.grades {
    grid-area: grades;
    display: flex;
    flex-direction: column;

    section {
        height: 100%;
    }
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px;
}

.year-select {
    border: solid 1px var(--color-bluemarine);
    font-size: 1.2rem;
    padding: 5px 2px;
    outline: 0;
    border-radius: 5px;
}